# interfaces(5) file used by ifup(8) and ifdown(8)

iface lo inet loopback

source-directory /etc/network/interfaces.d

iface eth0 inet static
  address               {{ ip_address }}
  netmask               {{ netmask }}
  gateway               {{ hostvars[gateway]['ip_address'] }}
  dns-nameservers       {% for h in groups['dns-internal'] %}{{ hostvars[h]['ip_address'] }}{% if not loop.last %}, {% endif %}{% endfor %}
  dns-search            {{ domain }}
  dns-domain            {{ domain }}

auto lo {{ network_interface }}
